* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    max-width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    // height: 10%;

    &__burger-btn {
        margin-right: .5em;
        padding: .3em;
        font-size: 2.2rem;
        color: hsl(219, 9%, 45%);
        background: none;
        border: none;
        cursor: pointer;
    }

    &__logo {
        display: inline;
        font-size: 2.6rem;
    }
    &__nav {
        display: none;
        margin-left: 1.2em;
        font-size: 1.4rem;
        list-style-type: none;
        color: hsl(219, 9%, 45%);
    }

    &__nav-item {
        position: relative;
        padding: 0 1em;
        cursor: pointer;
        
    }

    &__nav-item::before {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        bottom: -200%;
        height: 2px;        
        background-color: hsl(26, 100%, 55%);
        transform: scaleX(0);
        transition: transform .4s;
    }

    &__nav-item:hover::before{
        transform: scaleX(1);
    }

    &__right-part {
        display: flex;
        align-items: center;
    }

    &__cart-icon {
        position: relative;
        margin-right: .5em;
        padding: 0.3em;
        font-size: 2.4rem;
        cursor: pointer;
    }

    &__cart-icon::before {
        position: absolute;
        content: attr(data-content);
        top: -5%;
        right: -10%;
        padding: .25em 1em;
        font-size: 1rem;
        color: hsl(0, 0%, 100%);
        text-align: center;
        border-radius: 8px;
        background-color: hsl(26, 100%, 55%);
    }

    &__profile {
        width: 4em;
        cursor: pointer;
        border: 50%;
        border: 2px solid transparent;
        transition: border .3s;
    }

    &__profile:hover {
        border: 2px solid hsl(26, 100%, 55%);
        border-radius: 50%;
    }
}

.shadow {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 0;
}

.mobile-menu {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 5em;
    font-weight: bold;
    width: 75%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    z-index: 10;

    &__close-btn {
        margin-bottom: 2em;
        padding: 1em;
        font-size: 1.8rem;
        color: hsl(219, 9%, 45%);
        border: none;
        background: none;
        cursor: pointer;
    }

    &__list {
        font-size: 1.8rem;
        list-style-type: none;
    }

    &__item {
        padding: 0.5em 0;
        cursor: pointer;
    }
}

.cart {
    display: none;
    position: absolute;
    top: 12%;
    left: 7%;
    width: 85%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    z-index: 10;
    
    &__title {
        padding: 1.5em;
        font-size: 1.6rem;
        border-bottom: 2px solid hsl(223, 64%, 98%);
    }

    &__products {
        padding: 1.5em;
    }

    &__product {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        column-gap: .5em;
        row-gap: .25em;
        align-items: center;
        padding: .75em 0;
        font-size: 1.5rem;
    }

    &__product-img {
        grid-row: 1/3;
        width: 100%;
        border-radius: 8px;
    }

    &__product-price-container {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
    }

    &__product-title,
    &__product-price,
    &__product-amount {
        color: hsl(219, 9%, 45%);
    }

    &__product-price,
    &__product-amount,
    &__product-finally-price {
        margin-right: .5em;
    }

    &__product-finally-price {
        font-weight: 700;
    }

    &__product-delete-btn {
        grid-row: 1/3;
        padding: 1em .5em;
        font-size: 1.5rem;
        color: hsl(220, 14%, 75%);
        background: none;
        border: none;
        cursor: pointer;
    }

    &__checkout-btn {
        margin: 0 1em 1em 1em;
        padding: 1em 2em;
        font-size: 1.5rem;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        background-color: hsl(26, 100%, 55%);
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
    }
}

.modal {
    // display: none;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 10;

    &__content {
        width: 60%;
    }

    &__close-btn {
        position: absolute;
        top: -5%;
        right: -5%;
        height: 5em;
        width: 5em;
        // padding: 1em;
        cursor: pointer;
    }

    &__close-btn path {
        fill: hsl(0, 0%, 100%);
    }

    &__close-btn:hover path {
        fill: hsl(26, 100%, 55%);
    }

    &__main-photo-container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        max-width: 60em;
    }

    &__main-photo {
        width: 100%;
        border-radius: 16px;
    }

    &__btn {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 1.2em;
        height: 4em;
        width: 4em;
        border-radius: 50%;
        background-color: hsl(0, 0%, 100%);
        cursor: pointer;
    }

    &__prev-photo-btn {
        left: -5%;
    }

    &__next-photo-btn {
        right: -5%;
    }

    &__photo-gallery {
        display: flex;
        margin: 2em auto 0;
        justify-content: space-between;
        width: 100%;
        max-width: 60em;
    }

    &__photo {
        position: relative;
        height: 10em;
        width: 20%;
        max-width: 10em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
    }

    &__photo::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(0);
        transition: transform .2s;
        background-color: rgba(255, 255, 255, .6);
    }

    &__photo:hover::before {
        transform: scale(1);
    }

    &__photo--first {
        background-image: url('../images/image-product-1-thumbnail.jpg');        
    }

    &__photo--second {
        background-image: url('../images/image-product-2-thumbnail.jpg');        
    }

    &__photo--third {
        background-image: url('../images/image-product-3-thumbnail.jpg');        
    }

    &__photo--fourth {
        background-image: url('../images/image-product-4-thumbnail.jpg');        
    }

    &__photo-focus {
        border: 3px solid hsl(26, 100%, 55%);
    }

    &__photo-focus::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, .6);
    }


}


.photos {
    padding: 2em 0;

    &__main-photo-container { 
        position: relative;       
        width: 100%;
    }

    &__main-photo {      
        width: 100%;    
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 1.2em;
        height: 4em;
        width: 4em;
        border-radius: 50%;
        background-color: hsl(0, 0%, 100%);
        cursor: pointer;
    }

    &__prev-photo-btn {
        left: 5%;
    }

    &__next-photo-btn {
        right: 5%;
    }

    &__photo-gallery {
        display: none;
        margin: 2em auto 0;
        justify-content: space-between;
        width: 100%;
        max-width: 60em;
    }

    &__photo {
        position: relative;
        height: 10em;
        width: 20%;
        max-width: 10em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        cursor: pointer;
    }

    &__photo--first {
        background-image: url('../images/image-product-1.jpg');        
    }

    &__photo--second {
        background-image: url('../images/image-product-2.jpg');        
    }

    &__photo--third {
        background-image: url('../images/image-product-3.jpg');        
    }

    &__photo--fourth {
        background-image: url('../images/image-product-4.jpg');        
    }

    &__photo-focus {
        border: 3px solid hsl(26, 100%, 55%);
    }

    &__photo-focus::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, .6);
    }
}
    

.product-description {
    padding: 2em 3em;

    &__text {
        margin-bottom: 1em;
        font-size: 1.4rem;
        font-weight: 700;
        color: hsl(26, 100%, 55%);
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 0.5em;
        font-size: 2.6rem;
    }

    &__feature {
        margin-bottom: 2em;
        font-size: 1.4rem;
        line-height: 1.6em;
        color: hsl(219, 9%, 45%);
    }

    &__price-container {
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
    }

    &__price {
        display: flex;
        align-items: center;
        font-size: 2.6rem;
    }

    &__discount {
        margin-left: 1em;
        padding: .25em .5em;
        font-size: 1.6rem;
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        border-radius: 8px;
    }

    &__old-price {
        font-size: 1.6rem;
        color: hsl(220, 14%, 75%);
        text-decoration: line-through;
        text-decoration-color: hsl(220, 14%, 75%);
    }

    &__amount-container,
    &__add-to-cart-btn {      
        margin: 0 auto;  
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;
        max-width: 25em;
        border-radius: 8px;
    }

    &__amount-container {
        margin-bottom: 1em;
        padding: 0 1em;
        position: relative;
        display: flex;   
        justify-content: space-between;     
        align-items: center;
        background-color: hsl(223, 64%, 98%);
        border-radius: 8px;
    }

    &__amount-minus,
    &__amount-plus {
        padding: .5em;
        font-size: 2.6rem;
        color: hsl(26, 100%, 55%);
        cursor: pointer;
    }

    &__add-to-cart-btn {
        margin-bottom: 1em;
        padding: 1em 2em;
        color: hsl(0, 0%, 100%);
        background-color: hsl(26, 100%, 55%);
        text-align: center;
        box-shadow: 0 2px 10px hsl(26, 100%, 55%);
        cursor: pointer;
    }

    &__add-to-cart-btn i {
        margin-right: 1em;
    }
}

@media (min-width: 576px) {
    // .photos {
    //     &__prev-photo-btn {
    //         left: 10%;
    //     }
    
    //     &__next-photo-btn {
    //         right: 10%;
    //     }
    // }

    .product-description {
        padding: 2em 6em;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 3em;
        border-bottom: 1px solid hsl(223, 64%, 98%);

        &__burger-btn {
            display: none;
        }

        &__nav {
            display: inline-flex;
        }
    }

    .container {
        margin-top: 10em;
        display: flex;
        align-items: center;
    }

    .photos,
    .product-description {
        padding: 2em;
        width: 50%;
    }

    .photos {
        &__btn {
            display: none;
        }

        &__photo-gallery {
            display: flex;
        }

        &__main-photo-container { 
            margin: 0 auto;
            position: relative;       
            width: 100%;
            max-width: 60em;
        }
    }

    .product-description {
        &__price-container {
            position: relative;
            margin-bottom: 5em;
        }

        &__old-price {
            position: absolute;
            top: 120%;
            left: 0;
        }

        &__amount-container {
            display: inline-flex;
            margin-right: 1em;
            width: 30%;
        }

        &__add-to-cart-btn {
            display: inline-block;
            margin-top: -10%;
            width: 50%;
        }
    }

    
}

@media (min-width: 992px) {
    .container {
        margin-top: 0;
    }

    .header {
        padding: 3em;
    }

    .photos,
    .product-description {
        padding: 4em;
    }
}

@media (min-width: 1200px) {
    .header {
        &__logo {
            font-size: 3.2rem;
        }

        &__nav {
            font-size: 1.6rem;
        }
        &__profile {
            width: 6em;
        }
    }

    .product-description {
        &__text {
            font-size: 1.6rem;
        }

        &__title {
            font-size: 3rem;
        }

        &__feature {
            font-size: 1.6rem;
        }

        &__price {
            font-size: 3rem;
        }

        &__discount {
            font-size: 1.8rem;
        }

        &__old-price {
            font-size: 1.8rem;
        }
    }   
}
